NODE_ENV=production

PORT=5000

MONGO_URI=

JWT_SECRET=

LOGISTICS_URL=https://www.samchilowlogistics.com
CONSTRUCTION_URL=https://www.samchilowmultibiz.com

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=info@samchilowmultibiz.com
EMAIL_USER=info@samchilowmultibiz.com
EMAIL_PASS=

VITE_API_URL=

